<html>
    <head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

		<title>유승완의 로그인 완료</title>

        <style type="text/css">
        
            body {
                background: #007bff;
                background: linear-gradient(to right, #0062E6, #33AEFF);
            }

            .btn-login {
				font-size: 0.9rem;
				letter-spacing: 0.05rem;
				padding: 0.75rem 1rem;
            }

        </style>

	</head>
    
    <body>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="card border-0 shadow rounded-3 my-5">
						<div class="card-body p-4 p-sm-5">
							<h3 class="card-title text-center mb-5 fw-light fs-5">SSAC 로그인 성공</h3>
							<form action="http://49.50.162.71:8100/headbomb/logged" method="post">
                                <div class="d-grid d-flex justify-content-end align-items-end">
                                    <button class="btn btn-warning btn-login text-uppercase fw-bold mr-2" type="button" 
                                            onclick="location.href='http://49.50.162.71:8100/changepw'">비밀번호 변경
                                    </button>
                                    <button class="btn btn-danger btn-login text-uppercase fw-bold mr-2" type="button" 
                                            onclick="location.href='http://49.50.162.71:8100/delete'">회원 탈퇴
                                    </button>
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="button" 
                                            onclick="location.href='http://49.50.162.71:8100/logout'">로그아웃
                                    </button>
                                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>