<html>
    <body>
        <h1> EJS의 새 test파일입니다.</h1>

        <h3> <%=parameter1%> </h3>

        <div style="background-color: yellow;">
            <% 
                for (var i = 0; i < parameter1; i++) {
                    __append( "<hi>" + i + "</h1><br>" );
                }
            %>
        </div>
        <img src="http://49.50.162.71:8100/aaa/paramedic.png">
    </body>
</html>