<!-- 단일 파일 처리 -->
<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile">
    <input type="submit" value="전송">
</form>



<!-- 다중 파일 처리 -->
<form action="upload-multiple" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile" multiple="multiple">
    <input type="submit" value="전송">
</form>